body {
	font-family: 'Source Sans Pro', sans-serif;
	background: #eee;
	color: #111;
	font-size: 20px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

header {
	background: #7e56c1;
	height: 65px;
	width: 100%;
	position: fixed;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3);
	z-index: 4;
}

header h1 {
	display: inline;
	color: #fff;
	font-size: 1.6em;
	position: relative;
	top: -3px;
}

.menuButt {
	font-size: 2em;
	position: relative;
	margin: .2em;
	background: transparent;
	color: #fff;
	height: 50px;
	width: 50px;
	border: none;
	z-index: 5;
	border-radius: 30px;
	outline: none;
	cursor: pointer;
	transition: .1s;
}

.menuButt:hover {
	background :rgba(77,43,144,.2);
}

#outsideMenu {
	width: 0;
	height: 0;
	position: fixed;
	z-index: 1;
}

#menu {
	width: 15em;
	display: block;
	position: fixed;
	margin-left: -16em;
	top: 65px;
	bottom: 0;
	padding: 0 0 1em;
	background: #eee;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
	transition: .2s ease-out;
	z-index: 2;
	overflow-y: auto;
}

#menu a, #menu p, #menu label {
	color: #111;
	text-decoration: none;
	display: list-item;
	list-style-type: none;
	margin: .3em;
	padding: .3em;
}

#menu label {
	max-height: 23px;
	cursor: pointer;
	user-select: none;
}

#menu p {
	padding-bottom: 0;
}

#menu a, #gameFilterSettings label.optionName {
	border-radius: 4px;
}

#menu a:hover, #gameFilterSettings label.optionName:hover {
	background: rgba(0, 0, 0, .04);
}

.menuSection {
	margin: .4em .8em;
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: .2em;
	overflow: hidden;
	transition: .2s;
}

.sectionHeading {
	font-size: 14px;
	font-weight: normal;
	color: #555;
	margin: .7em .95em 0;
}

.sectionToggleArrow {
	position: relative;
	width: 10px;
	height: 10px;
	padding: 0;
	background: transparent;
	border-top: none;
	border-left: none;
	border-right: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
	outline: none;
	cursor: pointer;
	float: right;
	transition: .2s;
	z-index: 4;
}

.sectionHeading + .sectionToggleArrow {
	top: -10px;
	right: 10px;
	background: transparent;
	transform: rotate(225deg);
}

.sectionHeading + .sectionToggleArrow + label {
	position: absolute;
	margin: -1.5em 0 0 0 !important;
	padding: .5em !important;
	width: 85%;
	height: 23px;
	z-index: 4;
}

.menuIcon {
	height: 1em;
	margin-right: .5em;
	vertical-align: bottom;
}

.gameParent {
	margin-bottom: 0 !important;
}

.gameParent .sectionToggleArrow {
	top: 5px;
	transform: rotate(45deg);
}

.gameParent .sectionToggleArrow + label {
	position: absolute;
	margin: -1.65em 0 0 1.1em !important;
	width: 73%;
	height: 23px;
	z-index: 4;
}

#gameFilterSettings input {
	margin-right: 5px;
	display: none;
}

#gameFilterSettings input + .optionName::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background: transparent;
	position: relative;
	top: 3px;
	left: -3px;
	margin: 0 !important;
	border-radius: 3px;
	border: 1px solid #777;
	transition: .2s;
	cursor: pointer;
}

#gameFilterSettings input + .optionName::after {
	border-radius: 3px;
	background: transparent;
	color: #fff;
	display: block;
	position: relative;
	top: -18px;
	font-size: 15px;
	transition: .2s;
	cursor: pointer;
	visibility: hidden;
}

#gameFilterSettings input:checked + .optionName::before, #gameFilterSettings input:indeterminate + .optionName::before {
	background-color: #7e57c2;
	border-color: #7e57c2;
}

#gameFilterSettings input:checked + .optionName::after {
	content: "✓";
	visibility: visible;
}

#gameFilterSettings input:indeterminate + .optionName::after {
	content: "—";
	font-weight: bold;
	top: -20px;
	visibility: visible;
}

#gameFilterSettings[style="height: 36px;"] label:nth-of-type(2) {
	margin-top: 1em;
	transition-delay: .2s;
}

.gameChildren {
	width: 90%;
	margin-left: 9%;
	height: 0;
	overflow: hidden;
	transition: .2s;
}

#filterSearchBox {
	border-radius: 3px;
	border: none;
	position: relative;
	width: 25%;
	top: 12px;
	right: .6em;
	float: right;
	outline: none;
	padding: .5em;
	box-shadow: 0 1px 9px 1px rgba(0,0,0,.3);
	transition: .3s;
}

#filterSearchBox:focus {
	box-shadow: 0 1px 9px 2px rgba(0,0,0,.5);
}

#filterSearchOpen {
	float: right;
	display: none;
	margin: .2em;
}

#currentLocal {
	margin: auto;
	text-align: center;
	padding-top: 80px;
}

#currentLocal h2 {
	margin: 0;
}

#currentLocal p {
	margin-block-start: .2em;
	margin-block-end: .2em;
}

#currentLocalTime {
	font-size: 2em;
}

#resultsContainer {
	padding-top: 1em;
	width:97%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gameContainer {
	margin: auto;
	padding: 1em 1em 2.7em;
	margin: .5em;
	width: 25%;
	background: #f8f8f8;
	box-shadow: 0 2px 7px 0 rgba(0,0,0,0.4);
	text-align: initial;
	border-radius: 4px;
	position: relative;
}

.gameHeader, .gameTimes {
	display: table;
	width: 100%;
}

.gameHeader h3 {
	display: table-cell;
	font-size: 1.4em;
}

.gameHeader h4 {
	display: table-cell;
	text-align: right;
	color: #555;
	font-size: 18px;
}

.gameIcon {
	display: table-cell;
	width: 40px;
	vertical-align: top;
	padding-right: 6px;
}

.gameIcon img {
	width: 35px;
	border-radius: 6px;
}

.gameTimes p:nth-of-type(odd) {
	font-weight: bold;
	margin-block-end: 5px;
}

.gameTimes p:nth-of-type(even) {
	margin-block-start: 5px;
	margin-block-end: 0;
}

.gameTimes div {
	width: 49%;
	display: table-cell;
}

.localTimes {
	padding-right: .3em;
}

.serverTimes {
	padding-left: .3em;
}

.optionName {
	width: 91%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.gameParent span {
	width: 85%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}

.gameParent::before {
	top: -1px !important;
}

.gameParent::after {
	top: -22px !important;
}

#gameFilterSettings input:indeterminate + .gameParent::after {
	top: -24px !important;
}

.switch {
	position: relative;
	width: 38px;
	height: 18px;
	padding: 0 !important;
	top: 2px;
	float: right;
	margin: 0 !important;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #999;
	border-radius: 14px;
	transition: .2s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	left: -6px;
	bottom: -3px;
	background-color: #fff;
	border-radius: 50%;
	transition: .2s;
	box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
}

input:checked + .slider {
	background-color: #4d2b90;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	background-color: #b084f4;
}

.gameContainer .buttons {
	position: absolute;
	bottom: 0;
	margin-bottom: .6em;
}

.buttons button {
	cursor: pointer;
	background: transparent;
	color: #673ab7;
	font-weight: bold;
	border: 1px solid #d2d2d2;
	padding: .2em .5em;
	border-radius: 4px;
}

.buttons button:hover, .buttons button:focus {
	background: rgba(126, 86, 193, 0.1);
}

@media (max-width: 1500px) {
	.gameContainer {
		width: 30%;
	}
}

@media (max-width: 1200px) {
	.gameContainer {
		width: 40%;
	}

	#filterSearchBox:focus {
		width: 40%;
	}
}

@media (max-width: 768px) {
	.gameContainer {
		width: auto;
	}

	#filterSearchOpen {
		display: block;
	}

	#filterSearchBox {
		width: 0%;
		display: none;
	}

	#filterSearchBox:focus {
		width: 85%;
	}

	#filterSearchBox:focus + h1 {
		display: none;
	}

	#filterSearchBox:focus + #filterSearchOpen {
		display: none;
	}
} 

@media (max-width: 620px) {
	#filterSearchBox:focus {
		width: 80%;
	}

	header h1 {
		font-size: 1.2em;
		top: -6px;
	}
}

@media (max-width: 360px) {
	header h1 {
		font-size: 1em;
	}

	#filterSearchBox:focus {
		width: 75%;
	}
}

@media (min-width: 380px) {
	.menuButt {
		margin: .2em .6em .2em .2em;
	}
}

.dark {
	background: #111;
	color: #eee;
}

.dark ::-webkit-scrollbar, .dark::-webkit-scrollbar {
	background: #1d1d1d;
}

.dark ::-webkit-scrollbar-track, .dark::-webkit-scrollbar-track {
	background: #1d1d1d;
}

.dark ::-webkit-scrollbar-thumb, .dark::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,0.07);
}

.dark ::-webkit-scrollbar-thumb:hover, .dark::-webkit-scrollbar-thumb:hover {
	background:rgba(255,255,255,0.1);
}

.dark ::-webkit-scrollbar-thumb:active, .dark::-webkit-scrollbar-thumb:active {
	background:rgba(126,86,193,0.3);
}

.dark header {
	background: #322646;
}

.dark #filterSearchBox {
	background: #2c2c2c;
	color: #eee;
}

.dark #menu {
	background: #242424;
}

.dark #menu a, .dark #menu p, .dark #menu label {
	color: #eee;
}

.dark #menu a:hover, .dark #gameFilterSettings label.optionName:hover {
	background: rgba(255, 255, 255, .04);
}

.dark .sectionToggleArrow {
	border-color: #686868;
}

.dark .menuSection {
	border-color: #404040;
}

.dark .sectionHeading {
	color: #aaa;
}

.dark .gameContainer {
	background: #1d1d1d;
}

.dark .gameHeader h4 {
	color: #aaa;
}

.dark .buttons button {
	color: #9575cd;
	border-color: #404040;
}

.compact .serverTimes {
	display: none;
}

.compact .localTimes {
	display: grid;
	width: 100%;
	grid-template-columns: 50% 50%;
	padding-right: 0;
}

.compact .localTimes p {
	margin-block-start: .5em;
	margin-block-end: .2em;
}

.compact .localTimes p:nth-of-type(even) {
	grid-row-start: 2;
	margin: 0;
}

.hideButtonsHidden .gameContainer {
	padding: 1em;
}

.hideButtonsHidden .gameContainer .buttons {
	display: none;
}