body {
	font-family: 'Source Sans Pro', sans-serif;
	background: #eee;
	color: #111;
	font-size: 20px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

header {
	background: #7e56c1;
	height: 65px;
	width: 100%;
	position: fixed;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3);
	z-index: 4;
}

header h1 {
	display: inline;
	color: #fff;
	font-size: 1.6em;
	position: relative;
	top: -3px;
}

.menuButt {
	font-size: 2em;
	position: relative;
	margin: .2em;
	background: transparent;
	color: #fff;
	height: 50px;
	width: 50px;
	border: none;
	z-index: 5;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
}

#menu {
	height: 100%;
	width: 15em;
	display: block;
	position: fixed;
	margin-left: -16em;
	padding-top: 4em;
	background: #eee;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
	transition: .2s ease-in-out;
	z-index: 2;
}

#menu a, #menu p, #menu label {
	color: #111;
	text-decoration: none;
	display: list-item;
	list-style-type: none;
	margin: .3em;
	padding: .3em;
}

#menu label {
	cursor: pointer;
	user-select: none;
}

#menu p {
	padding-bottom: 0;
}

.menuSection {
	margin: .4em .8em;
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: .2em;
}

#filterSearchBox {
	margin: .3em;
	border-radius: 3px;
	border: 1px solid #bbb;
	position: relative;
	top: 13px;
	right: .6em;
	float: right;
}

#currentLocal {
	margin: auto;
	text-align: center;
	padding-top: 80px;
}

#currentLocal h2 {
	margin: 0;
}

#currentLocal p {
	margin-block-start: .2em;
	margin-block-end: .2em;
}

#currentLocalTime {
	font-size: 2em;
}

#resultsContainer {
	padding-top: 1em;
	width:97%;
	margin: auto;
	text-align: center;
}

.gameContainer {
	margin: auto;
	display: inline-table;
	padding: 1em;
	margin: .5em;
	width: 25%;
	background: #f8f8f8;
	box-shadow: 0 2px 7px 0 rgba(0,0,0,0.4);
	text-align: initial;
	border-radius: 4px;
}

.gameHeader, .gameTimes {
	display: table;
	width: 100%;
}

.gameHeader h3 {
	display: table-cell;
	font-size: 1.4em;
}

.gameHeader h4 {
	display: table-cell;
	text-align: right;
	color: #555;
	font-size: 18px;
	vertical-align: middle;
}

.gameTimes p:nth-of-type(odd) {
	font-weight: bold;
}

.gameTimes div {
	width: 49%;
	display: table-cell;
}

.localTimes {
	padding-right: .3em;
}

.serverTimes {
	padding-left: .3em;
}

.optionName {
	width: 91%;
}

.switch {
	position: relative;
	width: 38px;
	height: 18px;
	padding: 0 !important;
	top: 2px;
	float: right;
	margin: 0 !important;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #999;
	border-radius: 14px;
	transition: .2s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	left: -6px;
	bottom: -3px;
	background-color: #fff;
	border-radius: 50%;
	transition: .2s;
	box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
}

input:checked + .slider {
	background-color: #4d2b90;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	background-color: #b084f4;
}

@media (max-width: 1500px) {
	.gameContainer {
		width: 30%;
	}
}

@media (max-width: 1200px) {
	.gameContainer {
		width: 40%;
	}
}

@media (max-width: 768px) {
	.gameContainer {
		width: auto;
	}
} 

@media (max-width: 620px) {
	header h1 {
		display: none;
	}

	#filterSearchBox {
		width: 50%;
	}
}